<section>
  <div class="parent" fxLayout="row" fxLayout.sm="row" fxLayout.sm="row">
    <div fxFlex="10%" class="left" fxFlexAlign="end center"></div>
    <div fxFlex="30%" class="left" fxFlexAlign="end center">
      <h2>Hello,</h2>
      <h4>
        I’m <h2 class="text-color">Chandrakumar Ovanan</h2>
      </h4>
      <h3>
        Full StackDeveloper,Microservice
        & Cloud
      </h3>
      <a matTooltip="View skills" class="btn-border-radius-16 btn-margin-right-20" routerLink="/skills" mat-flat-button
        color="primary">View skills</a>
      <a matTooltip="Contact Me" class="btn-border-radius-16 btn-margin-right-20" routerLink="/contact-me" mat-button
        mat-stroked-button color="primary">Contact Me</a>
    </div>
    <div fxFlex="60%" class="right">
      <img src="assets/images/microservices-architecture.jpg"/>
    </div>
  </div>
</section>