<mat-toolbar fxLayout="row" class="background-color-white below-nav-color">
  <!-- fxFlex -->
  <a mat-button href="#">
    <img src="assets/logo/logo-img.svg" alt="ChandranEdu" width="26" height="26" style="vertical-align:middle" />
  </a>
  <span class="example-spacer"></span>
  <a mat-button *ngFor="let item of menuItems" [routerLink]=item.route [routerLinkActive]="['active']" fxHide.xs>
    {{item.label}}
  </a>
  <button mat-icon-button [matMenuTriggerFor]="dropMenu" fxHide fxShow.xs>
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #dropMenu="matMenu">
    <ng-container *ngFor="let item of menuItems">
      <a mat-button [routerLink]=item.route [routerLinkActive]="['active']">
        {{item.label}}
      </a>
      <mat-divider></mat-divider>
    </ng-container>
  </mat-menu>
</mat-toolbar>