<div>
    <mat-toolbar class="background-color-white">
        <p>GITHUB Links <a href="https://github.com/chandrakumar001" target="_blank">click here</a></p>
    </mat-toolbar>
</div>
<p></p>
<mat-toolbar class="background-color-white">
    <p>Mini Project</p>
</mat-toolbar>
<div class="content" fxLayout="row wrap" fxLayoutGap="16px grid">
    <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="100%">
        <mat-card matTooltip="Open Github link" class="mat-elevation-z4 below-line-blue" (click)="redirectSpringBoot()">
            <mat-card-header>
                <mat-card-title>Java-Spring Boot-kubernetes-cloud foundry example with CI/CD Pipeline</mat-card-title>
            </mat-card-header>
            <img mat-card-image
                src="https://github.com/chandrakumar001/ms-person/blob/main/output/cucumber-report-it-test.PNG?raw=true"
                alt="Photo of a Shiba Inu">
            <mat-card-content>
                <mat-list class="font-weight-lighter">
                    <mat-list-item class="icon-text">
                        <mat-icon color="primary" matTooltip="Unit test-BDD">check</mat-icon>
                        <span>Unit test-BDD</span>
                    </mat-list-item>
                    <mat-list-item class="icon-text">
                        <mat-icon color="primary" matTooltip="Integration Test-BDD">check</mat-icon>
                        <span>Integration Test-BDD</span>
                    </mat-list-item>
                    <mat-list-item class="icon-text">
                        <mat-icon color="primary" matTooltip="Sample Screenshot">check</mat-icon>
                        <span>Sample Screenshot</span>
                    </mat-list-item>
                </mat-list>
            </mat-card-content>
        </mat-card>
    </div>
    <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%">
        <mat-card matTooltip="Open Github link" class="below-line-green" (click)="redirectMicroserviceDesign()">
            <mat-card-header>
                <mat-card-title>Microservice-Design-Component</mat-card-title>
            </mat-card-header>
            <img mat-card-image
                src="https://github.com/chandrakumar001/ca-ms-springboot/blob/main/Micro%20service%20Design%20for%20application.PNG?raw=true"
                alt="Photo of a Shiba Inu">
            <mat-card-content>
                <mat-list class="font-weight-lighter">
                    <mat-list-item class="icon-text">
                        <mat-icon color="primary" matTooltip="Distribution logs">check</mat-icon>
                        <span>Distribution logs</span>
                    </mat-list-item>
                    <mat-list-item class="icon-text">
                        <mat-icon color="primary" matTooltip="Jwt Token">check</mat-icon>
                        <span>Jwt Token</span>
                    </mat-list-item>
                    <mat-list-item class="icon-text">
                        <mat-icon color="primary" matTooltip="Security">check</mat-icon>
                        <span>Security</span>
                    </mat-list-item>
                </mat-list>
            </mat-card-content>
        </mat-card>
    </div>
</div>