.content {
  padding: 16px;
}

.content > mat-card {
  margin-bottom: 16px;
}

.below-line-green {
  font-weight: bold;
  box-shadow: 0px 5px 0px 0px rgb(13, 96, 5);
  border-radius: 1px;
}

.below-line-blue {
  font-weight: bold;
  box-shadow: 0px 5px 0px 0px rgb(46, 22, 184);
  border-radius: 1px;
}
.color-green {
  color: green;
}
.color-blue {
  color: blue;
}
.font-weight-lighter {
  font-weight: lighter;
}
