<P> Primary Skills</P>
<div class="content" fxLayout="row wrap" fxLayoutGap="16px grid">
    <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="100%">
        <mat-card class="below-line-blue">
            <mat-card-header>
                <mat-card-title>Backend development Tools</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <mat-list class="font-weight-lighter">
                    <mat-list-item class="icon-text">
                        <mat-icon color="primary" matTooltip="Java">check</mat-icon>
                        <span>Java & Groovy</span>
                    </mat-list-item>
                    <mat-list-item class="icon-text">
                        <mat-icon color="primary" matTooltip="Spring Boot">check</mat-icon>
                        <span>Spring Boot</span>
                    </mat-list-item>
                    <mat-list-item class="icon-text">
                        <mat-icon color="primary" matTooltip="Spring Cloud">check</mat-icon>
                        <span>Spring Cloud</span>
                    </mat-list-item>
                    <mat-list-item class="icon-text">
                        <mat-icon color="primary" matTooltip="Spring Data JPA">check</mat-icon>
                        <span>Spring Data JPA</span>
                    </mat-list-item>
                </mat-list>
            </mat-card-content>
        </mat-card>
    </div>
    <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%">
        <mat-card class="below-line-brown">
            <mat-card-header>
                <mat-card-title>Microservice</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <mat-list class="font-weight-lighter">
                    <mat-list-item class="icon-text">
                        <mat-icon color="primary" matTooltip="Microservice">check</mat-icon>
                        <span>Microservice-Design Pattern</span>
                    </mat-list-item>
                    <mat-list-item class="icon-text">
                        <mat-icon color="primary" matTooltip="HTML/CSS">check</mat-icon>
                        <span>Cloud Foundry-Pivotal Cloud
                            Foundry</span>
                    </mat-list-item>
                    <mat-list-item class="icon-text">
                        <mat-icon color="primary" matTooltip="HTML/CSS">check</mat-icon>
                        <span>Cloud
                            Native-Kubernetes-Docker</span>
                    </mat-list-item>
                    <mat-list-item class="icon-text">
                        <mat-icon color="primary" matTooltip="HTML/CSS">check</mat-icon>
                        <span>IBM Cloud</span>
                    </mat-list-item>
                </mat-list>
            </mat-card-content>
        </mat-card>
    </div>
    <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%">
        <mat-card class="below-line-green">
            <mat-card-header>
                <mat-card-title>Devops</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <mat-list class="font-weight-lighter">
                    <mat-list-item class="icon-text">
                        <mat-icon color="primary" matTooltip="Jenkins">check</mat-icon>
                        <span>Jenkins</span>
                    </mat-list-item>
                    <mat-list-item class="icon-text">
                        <mat-icon color="primary" matTooltip="Gradle">check</mat-icon>
                        <span>Gradle</span>
                    </mat-list-item>
                    <mat-list-item class="icon-text">
                        <mat-icon color="primary" matTooltip="Maven">check</mat-icon>
                        <span>Maven</span>
                    </mat-list-item>
                    <mat-list-item class="icon-text">
                        <mat-icon color="primary" matTooltip="Git">check</mat-icon>
                        <span>Git</span>
                    </mat-list-item>
                </mat-list>
            </mat-card-content>
        </mat-card>
    </div>
    <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%">
        <mat-card class="below-line-yellow">
            <mat-card-header>
                <mat-card-title>Basic Frontend development</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <mat-list class="font-weight-lighter">
                    <mat-list-item class="icon-text">
                        <mat-icon color="primary" matTooltip="Angular">check</mat-icon>
                        <span>Angular</span>
                    </mat-list-item>
                    <mat-list-item class="icon-text">
                        <mat-icon color="primary" matTooltip="Type Script">check</mat-icon>
                        <span>Type Script</span>
                    </mat-list-item>
                    <mat-list-item class="icon-text">
                        <mat-icon color="primary" matTooltip="HTML">check</mat-icon>
                        <span>HTML</span>
                    </mat-list-item>
                    <mat-list-item class="icon-text">
                        <mat-icon color="primary" matTooltip="CSS">check</mat-icon>
                        <span>CSS</span>
                    </mat-list-item>
                </mat-list>
            </mat-card-content>
        </mat-card>
    </div>
</div>